
@{
    ViewData["Title"] = "KreditnaKarticaUredi";
    Layout = null;
}

<h1>KreditnaKarticaUredi</h1>
@model WebApplication1.Models.Karta.KreditnaKarticaUrediVM
<form asp-action="KreditnaKarticaSnimi" asp-controller="Karta">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Uredi</h1>
            </div>
            <div class="modal-body">
                <div>
                    <input hidden readonly asp-for="KreditnaKarticaID" />
                </div>
                <div>
                    <label>BrojKartice</label>
                    <input asp-for="BrojKartice" />
                </div>
                <div>
                    <label>VerKod</label>
                    <input type="text" asp-for="VerKod" />
                </div>
                <div>
                    <label>DatumIsteka</label>
                    <input asp-for="DatumIsteka" />
                </div>
                <div>
                    <label>Ime vlasnika</label>
                    <input asp-for="ImeVlasnika" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Odustani" onClick="document.location.reload(true)">
                <input type="submit" name="Snimi" value="Sačuvaj" />
            </div>
        </div>
    </div>
</form>
