@model WebApplication1.Models.Karta.KartaUrediVM
<div>
    <form asp-action="Uredi" asp-controller="Karta">
        <div>
            <label asp-for="TipKarte" class="control-label"></label>
            <select asp-for="TipKarteID" asp-items="Model.TipKarte"></select>
            <div>

                <label asp-for="Polaziste" class="control-label"></label>
                <select asp-for="PolazisteID" asp-items="Model.Polaziste"></select>

                <label asp-for="Dolaziste" class="control-label"></label>
                <select asp-for="DolazisteID" asp-items="Model.Dolaziste"></select>

                <label asp-for="DatumPolaska" class="control-label"></label>
                <input id="datepicker" asp-for="DatumPolaska" />

                @*<input type="submit" value="Trazi" />*@
                <button class="btn btn-group" onclick="PrikaziLinije(@Model)">
                    Trazi
                </button>
            </div>
        </div>
        <div id="ajaxPrikaz" style="border:1px solid red">

        </div>
    </form>

</div>

<script>
    function PrikaziLinije(Model) {
        var url = "/Karta/Uredi?x=" + Model;
        $.get(url, function (d) {
            $("#ajaxPrikaz").html(d);
        });
    }
</script>

@section Scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: 'dd/mm/yyyy'
            })
        });
    </script>
}