
@{
    ViewData["Title"] = "Prikaz";
    //Layout = null;
}

@model List<WebApplication1.Models.TipUposlenika.TipUposlenikaPrikazVM>

<h1>Prikaz</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Naziv</td>
            <td>Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Models.TipUposlenika.TipUposlenikaPrikazVM k in Model)
        {
            <tr>
                <td>@k.Naziv</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajaxPrikaz"
                            onclick="UrediTipUposlenika(@k.TipUposlenikaID)">
                        Uredi
                    </button>
                    <a class="btn btn-warning" href="/TipUposlenika/Obrisi?TipUposlenikaID=@k.TipUposlenikaID">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajaxPrikaz"
        onclick="UrediTipUposlenika()">
    Dodaj
</button>

<div class="modal fade" id="ajaxPrikaz" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>
<script>
    function UrediTipUposlenika(TipUposlenikaID) {

        if (TipUposlenikaID == 0) {
            $.get("/TipUposlenika/Uredi", function (d) {
                $("#ajaxPrikaz").html(d);
            });
        }
        else {
            $.get("/TipUposlenika/Uredi?TipUposlenikaID=" + TipUposlenikaID, function (d) {
                $("#ajaxPrikaz").html(d);
            });
        }
    }
</script>

