
@Model DrzavaPrikazVM 
<td><button>Dodaj novu</button></td>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcija</th>
            <th>Akcija</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Naziv</td>
                <td><button>Uredi</button></td>
                <td><button>Obrisi</button></td>
            </tr>
        }
    </tbody>

</table>