
@{
    ViewData["Title"] = "Prikaz";
    //Layout = null;
}

@model List<WebApplication1.Models.ObavijestKategorija.ObavijestKategorijaPrikazVM>
<h1>Prikaz</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Naziv</td>
            <td>Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Models.ObavijestKategorija.ObavijestKategorijaPrikazVM k in Model)
        {
            <tr>
                <td>@k.Naziv</td>
                <td>
                    <a class="btn btn-primary" href="/ObavijestKategorija/Uredi?ObavijestID=@k.ObavijestID">Uredi</a>
                    <a class="btn btn-warning" href="/ObavijestKategorija/Obrisi?ObavijestID=@k.ObavijestID">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-danger" href="/ObavijestKategorija/Uredi">Dodaj</a>


