
@{
    ViewData["Title"] = "Prikaz";
    //Layout = null;
}

@model List<WebApplication1.Models.ObavijestKategorija.ObavijestKategorijaPrikazVM>

<h1>Prikaz</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Naziv</td>
            <td>Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Models.ObavijestKategorija.ObavijestKategorijaPrikazVM k in Model)
        {
            <tr>
                <td>@k.Naziv</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajaxPrikaz"
                            onclick="UrediKatObavijesti(@k.ObavijestID)">
                        Uredi
                    </button>
                    @*<a class="btn btn-primary" href="/ObavijestKategorija/Uredi?ObavijestID=@k.ObavijestID">Uredi</a>*@
                    <a class="btn btn-warning" href="/ObavijestKategorija/Obrisi?ObavijestID=@k.ObavijestID">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ajaxPrikaz"
        onclick="UrediKatObavijesti()">
    Dodaj
</button>
@*<a class="btn btn-danger" href="/ObavijestKategorija/Uredi">Dodaj</a>*@

<div class="modal fade" id="ajaxPrikaz" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>
<script>
    function UrediKatObavijesti(ObavijestID) {

        if (ObavijestID == 0) {
            $.get("/ObavijestKategorija/Uredi", function (d) {
                $("#ajaxPrikaz").html(d);
            });
        }
        else {
            $.get("/ObavijestKategorija/Uredi?ObavijestID=" + ObavijestID, function (d) {
                $("#ajaxPrikaz").html(d);
            });
        }
    }
</script>

