
@{
    ViewData["Title"] = "Uredi";
}
@model WebApplication1.Models.ObavijestKategorija.ObavijestKategorijaUrediVM

<form class="form-group" asp-action="Snimi" asp-controller="ObavijestKategorija">
    <div>
        <input hidden readonly asp-for="ObavijestID" />
    </div>
    <div>
        <label>Naziv</label>
        <input asp-for="Naziv" />
    </div>
    <input type="submit" name="Snimi" value="Sačuvaj" />
</form>

