
@{
    ViewData["Title"] = "DodajMenadzera";
}

<h1>DodajMenadzera</h1>
<form asp-action="Snimi" asp-controller="Home">
    <div>
        <label>Ime</label>
        <input name="Ime" />
    </div>
    <div>
        <label>Prezime</label>
        <input name="Prezime" />
    </div>
    <input type="submit" value="Snimi"/>
</form>
